// Rely on the generated `wp-block-alfresco-cpd-content` class to scope the styles, so that they don't bleed into other blocks.
.wp-block-alfresco-cpd-content {
	box-sizing: border-box;

	&.cpd-content {
		display: flex;
    max-width: 1600px;
    margin: 0 auto;
		text-align: center;
	}

  .cpd-content__image,
  .cpd-content__wrapper {
    flex: 1 1 50%;
    min-width: 0; /* prevents flex overflow */
		padding: 50px;
  }

  .cpd-content__image {
    overflow: hidden;
  }

  .cpd-content__image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

	.cpd-content__wrapper {
		display: flex;
    flex-direction: column;
    justify-content: center; /* vertical centering */
    align-items: center;     /* horizontal centering */
    text-align: center;
    padding: 12px;
	}

	.cpd-content__title {
		font-size: 51px;
		line-height: 1.15;
		font-family: "Josefin Sans", sans-serif;
		font-weight: 600;
	}

	.cpd-content__description {
		grid-area: description;
		font-size: 1rem;
		color: #444;
	}

	@media (max-width: 1050px) {
    &.cpd-content {
      flex-direction: column;
      min-height: 0;
    }

    .cpd-content__wrapper {
      order: 1;
      padding: 2.5rem 1.5rem;
    }

    .cpd-content__image {
      order: 2;
      aspect-ratio: 4 / 3;
    }
	}
}
